@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #345e3d;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}


.header-ul {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 12px #000;
    font-size: 1.2rem;
    padding: 30px;
}

.header-ul a {
    color: white;
    text-decoration: none;
    transition: 0.3s ease all;
    box-shadow: 0 0 12px #000;
    padding: 10px 20px;
    border-radius: 5px;
}

.header-ul a:hover {
    opacity: 0.7;
}

.question-answer {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.question-answer-inside {
    padding: 40px;
    box-shadow: 0 0 12px #000;
}

.inputs,
.buttons {
    border-radius: 5px;
    border-width: 1px;
    font-size: 1.2rem;
    height: 50px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 0 12px #000;
}

.questions {
    display: flex;
    flex-direction: column;
}

.questions input {
    margin-bottom: 10px;
}

/* .questions-page{
} */

.write-answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    /* border-bottom: 1px solid; */
    padding: 10px 30px;
    box-shadow: 0 0 12px #000;
}

.modal-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ant-modal-title,
.ant-modal-footer {
    display: none;
}

.modal-list input,
.modal-list button {
    border-radius: 5px;
    border-width: 1px;
    font-size: 1.2rem;
    height: 50px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 0 12px #000;
}

.modal-list input {
    margin-bottom: 10px;
}

.ant-modal-content {
    background: #345e41 !important;
    box-shadow: 0 0 12px #000;
}

.modal-question {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5px;
}

.not-list {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-shadow: 2px 2px 50px rgb(0, 255, 85);
}

.question-answer-inside h1 {
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 50px rgb(0, 255, 85);
    margin-bottom: 20px;
    font-weight: 700;
}

.buttons {
    background: transparent;
    color: white;
    transition: 0.3s ease all;
    cursor: pointer;
}

.buttons:hover {
    opacity: 0.7;
}

.header-q-a {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.q-a {
    box-shadow: 0 0 12px #000;
    padding: 20px;
}

.answers-list {
    list-style-type: auto;
}

.answers-list li {
    margin-bottom: 10px;
}

.answers-list li:last-of-type {
    margin-bottom: 0px;
}

.empty-answer {
    text-align: center;
    display: block
}

.write-answer input {
    background: transparent;
    border-radius: 5px;
    border-width: 1px;
    font-size: 1.2rem;
    height: 30px;
    padding: 10px;
    width: 50px;
    box-shadow: 0 0 12px #000;
    color: white;
    margin-right: 5px;
}